:root {
  --bg-color: #f4f4f9;
  --action-color: #6abfad;
  --cell-border-size: 3px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin: 1rem;
}

.logo {
  margin: 8px 1rem;
  max-height: 36px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.game-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/** Menu */
#menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  padding-left: 10px;
  border-left: 4px solid darkslategrey;
  opacity: 0.5;
}

/** Legend */
#legend {
  padding: 10px;
}

.legend-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.legend-item.arrow-keys span {
  margin-top: -15px;
}

.legend-item img {
  width: 100px;
}

/** Grid */
#grid {
  display: grid;
  grid-template-columns: repeat(21, 20px);
  grid-template-rows: repeat(21, 20px);
  gap: 1px;
}

/* Par défaut, toutes les cases sont "invisibles" mais présentes */
.cell {
  opacity: 0;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.cell:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(9/16 * 100%);
}

/* Lorsqu'une case est découverte, elle devient visible */
.cell.discovered {
  opacity: 1;
  background-color: transparent;
}

/* Les murs deviennent visibles après découverte */
.cell.discovered.wall {
  background-color: #555;
}

/* Les cases spéciales restent visibles après découverte */
.cell.discovered.activated.treasure {
  border: var(--cell-border-size) solid gold;
  background-color: gold;
}

.cell.discovered.activated.trap {
  border: var(--cell-border-size) solid brown;
  background-color: brown;
}

.cell.discovered.activated.bonus {
  border: var(--cell-border-size) solid lightgreen;
  background-color: lightgreen;
}

.cell.discovered.treasure, .cell.discovered.bonus, .cell.discovered.trap {
  border: var(--cell-border-size) solid rgb(19, 134, 241);
}

/* Le pixel (joueur) doit toujours être visible */
.cell.discovered.pixel {
  opacity: 1 !important;
  background-color: var(--action-color) !important;
}

.cell.entry {
  border: var(--cell-border-size) solid green;
}

.cell.exit {
  border: var(--cell-border-size) solid red;
}

/** Buttons */
.btn {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.btn.btn-action {
  background-color: var(--action-color);
  color: #fff;
  font-size: 1.5rem;
}

/** Tools */
.hidden {
  display: none !important;
}

/** Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}