:root {
  --bg-color: #f4f4f9;
  --action-color: #6abfad;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin: 1rem;
}

.logo {
  margin: 8px 1rem;
  max-height: 36px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/** Instructions */
.instruction {
  text-align: center;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.key svg {
  width: 30px;
  height: 30px;
  fill: #333;
}

/** Grid */
#grid {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
}

/* Par défaut, toutes les cases sont "invisibles" mais présentes */
.cell {
  opacity: 0;
  /* Rend la case invisible, mais toujours interactive */
  background-color: rgba(0, 0, 0, 1);
  /* Noir total */
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

/* Lorsqu'une case est découverte, elle devient visible */
.cell.discovered {
  opacity: 1;
  background-color: transparent !important;
}

/* Les murs deviennent visibles après découverte */
.cell.discovered.wall {
  background-color: #555 !important;
}

/* Les cases spéciales restent visibles après découverte */
.cell.discovered.treasure {
  background-color: gold !important;
  border: 2px solid gold;
}

.cell.discovered.trap {
  background-color: brown !important;
  border: 2px solid brown;
}

.cell.discovered.bonus {
  background-color: lightgreen !important;
  border: 2px solid lightgreen;
}

/* Le pixel (joueur) doit toujours être visible */
.cell.discovered.pixel {
  opacity: 1 !important;
  background-color: var(--action-color) !important;
  /* Exemple de couleur du pixel */
}

.cell.entry {
  border: 2px solid green;
}

.cell.exit {
  border: 2px solid red;
}

/** Buttons */
.btn {
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.btn.btn-action {
  background-color: var(--action-color);
  color: #fff;
  font-size: 1.5rem;
}

/** Tools */
.hidden {
  display: none !important;
}

/** Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}