:root {
  /** MAIN COLORS */
  --background-color: #F4F4F6;
  --text-color: #333D4B;
  --accent-color: #6A88C5;
  --interactive-color: #A3D9A5;

  /** SPECIAL COLORS */
  --wall-color: #999999;
  --special-color: #1386f1;
  --treasure-color: #ffd700;
  --trap-color: #a52a2a;
  --bonus-color: #90ee90;
  --entry-color: #008000;
  --exit-color: #ff0000;

  /** HEADER */
  --header-height: 5rem;

  /** MENU */
  --menu-border-size: 5px;

  /** CELL */
  --cell-border-size: 3px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  margin: 10px 0;
  color: var(--accent-color);
  font-weight: 600;
}

p.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  line-height: 1.6;
}

a {
  color: var(--interactive-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: var(--interactive-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
  color: white;
  font-size: 1.4rem;
  height: 45px;
}

button:hover {
  background-color: var(--accent-color);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

button .icon {
  height: 25px;
}

/** Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  text-align: center;
}

.logo {
  margin: 8px 1rem;
  max-height: 36px;
}

/** Main */
.main {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

/** Game */
.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#gameTitle,
#gameDesc {
  text-align: center;
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

/** Menu */
#menu {
  position: sticky;
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
  width: 280px;
  padding-top: 10px;
}

#menu,
#current-menu {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-item,
.level-item {
  cursor: pointer;
  padding-left: 10px;
  border-left: 4px solid var(--accent-color);
  opacity: 0.3;
  word-break: break-word;
}

.menu-item.discovered,
.level-item.current-level {
  opacity: 1;
  color: var(--accent-color);
}

.menu-item.discovered.treasure {
  border-left: var(--menu-border-size) solid var(--treasure-color);
}

.menu-item.discovered.trap {
  border-left: var(--menu-border-size) solid var(--trap-color);
}

.menu-item.discovered.bonus {
  border-left: var(--menu-border-size) solid var(--bonus-color);
}

/** Legend */
#legend {
  padding: 10px;
}

.legend-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

/** Grid */
#grid {
  display: grid;
  grid-template-columns: repeat(21, 20px);
  grid-template-rows: repeat(21, 20px);
  gap: 1px;
  height: 100%;
}

/* Par défaut, toutes les cases sont "invisibles" mais présentes */
.cell {
  background-color: rgb(228, 228, 228);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.cell:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(9/16 * 100%);
}

/* Lorsqu'une case est découverte, elle devient visible */
.cell.discovered {
  /* background-color: transparent; */
}

/* Les murs deviennent visibles après découverte */
.cell.discovered.wall {
  background-color: var(--wall-color);
}

/* Les cases spéciales restent visibles après découverte */
.cell.discovered.activated.treasure {
  border: var(--cell-border-size) solid var(--treasure-color);
  background-color: var(--treasure-color);
}

.cell.discovered.activated.trap {
  border: var(--cell-border-size) solid var(--trap-color);
  background-color: var(--trap-color);
}

.cell.discovered.activated.bonus {
  border: var(--cell-border-size) solid var(--bonus-color);
  background-color: var(--bonus-color);
}

.cell.discovered.treasure,
.cell.discovered.bonus,
.cell.discovered.trap {
  border: var(--cell-border-size) solid var(--special-color);
}

/* Le pixel (joueur) doit toujours être visible */
.cell.discovered.pixel {
  opacity: 1 !important;
  background-color: var(--accent-color) !important;
}

.cell.entry {
  border: var(--cell-border-size) solid var(--entry-color);
}

.cell.exit {
  border: var(--cell-border-size) solid var(--exit-color);
}

/** Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-content {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

#modalAssets {
  text-align: center;
}

/** Code */
.code-container {
  background-color: var(--background-color);
  margin: 1rem 0;
  border: 2px solid var(--background-color);
  border-radius: 8px;
  padding: 8px;
}

/** Tools */
.hidden {
  display: none !important;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}